<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul class="errormessage">
      <% @blog.errors.full_messages.each do |msg| %>
        <li ><%=msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :title %><br>
    <%= form.text_area :title %><br>
  </div>
  <div class="blog_content">
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
  </div>
  <div class="blog_visit_date">
    <%= form.label :visit_date %><br>
    <%= form.date_select :visit_date,  include_blank: true %><br>
  </div>
  <div class="blog_status">
    <%= form.label :status %><br>
    <%= form.select :status, Blog.statuses.keys.to_a, {} %><br>
  </div>
  <div class="blog_picture">
    <%= form.label :picture %>
    <% if @blog.picture.url %>
      <%= image_tag @blog.picture.url ,:width => '400', :height => '400' %>
    <% end %><br>
    <%= form.file_field :picture %><br>
  </div>
    <%= form.submit '投稿', class: 'submitbutton' %>
<% end %>
