<div class=loginbody>

  <div class='blogtitle'>
    <p1>T o r i y u u - notice board</p1>
  </div>

<br>
<br>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <p1 class="logintitle">新規登録</p1>
　<br>
  <br>
  <div class="field">
    <%= f.text_field :name, autofocus: true,  placeholder: "お名前" %>
  </div>
  <br>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "メールアドレス" %>
  </div>
  <br>
  <br>
  <div class="field">

    <%= f.password_field :password, autocomplete: "new-password",  placeholder: "パスワード(6文字以上)" %>

  </div>
  <br>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "確認用パスワード" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "新規登録", class: 'submitbutton' %>

  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>

</div>
