<%= form_with(model: @side_menu, local: true) do |f| %>
<% if @side_menu.errors.any? %>
  <div id="error_explanation">
    <h2><%= @side_menu.errors.count %>件のエラーがあります。</h2>
    <ul class="errormessage">
      <% @side_menu.errors.full_messages.each do |msg| %>
        <li><%=msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="food_name">
  <%= f.label :name %><br>
  <%= f.text_area :name %><br>
</div>
<div class="food_price">
  <%= f.label :price %><br>
  <%= f.number_field(:price, in: 1..99999, step: 1.0) %><br>
</div>
<br>
<div class="food_kind_for_edit">
  <%= f.label :kind %><br>
  <%= f.select :kind, SideMenu.kinds.keys.to_a, {} %><br>
</div>
<form>
    <div class="food_picture">
      <%= f.label :picture %>
      <% if @side_menu.picture.url %>
        <%= image_tag @side_menu.picture.url ,:width => '400', :height => '400' %>
      <% end %><br>
      <%= f.file_field :picture %><br>
    </div>
    <div class="preview" /></div>
    <%= f.submit '登録する', class: 'submitbutton' %>
  </form>
<% end %>

<script>
  $(function(){
    $('form').on('change', 'input[type="file"]', function(e) {
      var file = e.target.files[0],
          reader = new FileReader(),
          $preview = $(".preview");
          t = this;
  
      if(file.type.indexOf("image") < 0){
        return false;
      }
  
      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
                    src: e.target.result,
                    width: "150px",
                    class: "preview",
                    title: file.name
                }));
        };
      })(file);
  
      reader.readAsDataURL(file);
    });
  });
</script>
